        html {
            scroll-behavior: smooth;
        }
        ::-webkit-scrollbar {
            width: 8px;
            height: 20px;
        }
        ::-webkit-scrollbar-track {
            background: var( --background-body);
        }
        ::-webkit-scrollbar-thumb {
            background: var(--blue-color);
            border-radius: 10px;
        }