/* Mobile Devices (Portrait) */
@media (max-width: 540px) {
    /* .container {
        background: red;
    } */
    body {
        overflow-x: hidden;
    }
    html {
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }
    ::-webkit-scrollbar-track {
        background: var(--black-dark);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--blue-color);
        border-radius: 10px;
    }
    #menu-icon {
        position: absolute;
        left: 85%;
        visibility: visible;
    }

    .navbar {
        justify-content: space-between;
        flex-direction: column;
    }

    .nav-options {
        text-align: center;
        border-radius: 10px;
        padding: 20px 100px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        top: 70px;
        margin-right: auto;
        display: none;
    }

    .content-banner {
        width: 100%;
    }

    .section-2 {
        margin-top: 200px;
        flex-direction: column;
    }

    .s-2-content {
        width: 90%;
        text-align: center;
        padding: 100px 20px;
    }

    .host-img {
        width: 16rem;
        height: 16rem;
    }

    .host-img:nth-child(2) {
        margin: 30px auto;
    }

    .serve-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .serve-child {
        padding: 10px 30px;
        width: 340px;
        height: auto;
    }

    #input-container {
        width: 100%;
        border: none;
    }
    .i-1 {
        width: 75%;
    }
    #description-1 {
        width: 75%;
    }
    .f-container {
        flex-direction: column;
    }
    .f-options {
        padding: 20px 40px;
        border-left: none;
        border-right: none;
        text-decoration: none;
    }
    /* styles for mobile devices in portrait mode */
}

/* Mobile Devices (Landscape) */
@media (min-width: 541px) and (max-width: 670px) {
    /* .container {
        background: blue;
    } */
    #menu-icon {
        position: absolute;
        left: 90%;
        visibility: visible;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        background: none;
        backdrop-filter: blur(90px);
        display: flex;
    }

    .nav-options {
        text-align: center;
        border-radius: 10px;
        padding: 20px 100px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin: 0px 27%;
        display: none;
    }

    .content-banner {
        width: 100%;
    }

    .section-2 {
        padding-top: 50px;
        flex-direction: column;
    }

    .s-2-content {
        width: 90%;
        text-align: center;
        padding: 20px;
    }

    .host-img:nth-child(2) {
        margin: 30px auto;
    }

    .serve-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
    .section-3 {
        padding-top: 100px;
    }
    #input-container {
        width: 100%;
    }
    /* styles for mobile devices in landscape mode */
}

/* Tablets (Portrait) */
@media (min-width: 671px) and (max-width: 991px) {
    /* .container {
        background: green;
    } */

    .navbar {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*adjust it for mobiles */
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin-left: auto;
    }

    .nav-options {
        padding: 20px 30px;
        position: relative;
        font-size: var(--font-size-1);
        top: 5px;
    }

    .content-banner {
        width: 100%;
    }

    .s-2-content {
        padding: 30px;
        width: 50%;
    }

    .host-img {
        width: 17rem;
        height: 17rem;
    }

    .host-img:nth-child(2) {
        margin: auto;
    }

    .serve-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .serve-child {
        width: 320px;
        height: 200px;
        padding: 20px 30px;
        border-radius: 30px;
        background: var(--blue-color);
        color: black;
    }


    /* Your styles for tablets in portrait mode */
}

/* Tablets (Landscape) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* .container {
        background: purple;
    } */

    /* Your styles for tablets in landscape mode */
}

/* Small Laptops */
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        background: black;
    }

    /* Your styles for small laptops */
}

/* Desktops */
@media (min-width: 1400px) {
    .container {
        background: black;
    }

    /* Your styles for desktops */
}