* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center; 
    align-content: center;
}
.child {
    width: 200px;
    height: 200px;
    background-color: blue;
    text-align: center;
}