body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

table {
    border-collapse:collapse;
     margin:12px auto;
      font-family:system-ui,Arial;
       font-size:12px;
}
td {
    padding: 8px;
    width: 60px;
    text-align: center;
    position: relative;
}

.details {
    opacity:0;
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: black;
    z-index:10;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    transition:all 0.5s ease-in-out 
}
td:hover  .details {
    opacity:1
}