* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --gray:#96a3b9;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, purple);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.content {
    width: 30vw;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    width: auto;
    background-color: var(--gray);
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;

    i {
        font-size: 12px;
        color: orangered;
    }
}

.tag+p {
    font-size: 18px;
}

.main-heading {
    font-size: 48px;
}

.main-heading+p {
    color: rgb(64, 64, 65);
}

.card {
    width: 350px;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: 220px;
    }

}

.card-cont {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .main {
        padding: 16px 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 14px;
            color: var(--gray);
        }
    }

    .separator {
        display: flex;
        justify-content: start;
        align-items: center;
        padding:16px 25px;
        flex-wrap: nowrap;
        gap: 16px;
        border-top: 1px solid var(--gray);

        .profile {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .profile+div {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 1px;

            p {
                font-size: 11px;
                color: var(--gray);
            }

            h3 {
                font-size: 15px;
                color: black;
            }

        }
    }
}

.highlight {
    color: rgb(206, 26, 173);
}