* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#97e1f0, #f55670);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(214, 210, 210, 0.6);
}