.banner {
    display: flex;
    gap: 30px;
    padding: 60px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    /* background-image: url("../images/banner-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.banner > img {
    width: 40vw;
    object-fit: contain;
}
.banner > .content {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    gap: 20px;
}
.banner > .content > h1 {
    
}
.banner > .content > p {
    font-size: 14px;
}
.banner > .content > div> button {
    background-color: var(--foreground);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}