.blogs {
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogs > h1 {
    width: 80vw;
    margin-bottom: 30px;
}
.blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.blogs-container > .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.blogs-container > .card > h2 {
    font-size: 19px;
    font-weight: bolder;
}
.blogs-container > .card > p {
    font-size: 14px;
}
.blogs-container > .card > button {
    background-color: var(--foreground);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.blogs-container > .card > .image {
    background-color: black;
    width: 100%;
    height: 200px;
}