footer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: start;
    padding: 70px;
    color: white;
    gap: 20px;
    background-color: var(--background);
}

.footer>.links {
    background-color: white;
    width: 20%;
    border: 1px solid white;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.links-container>div>.logo {
    width: 37px;
    height: 37px;
}

.links-container>div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.about {
    width: 40%;
}

footer h2 {
    font-size: 24px;
}

.latest-posts {
    width: 40%;
}
footer  h2 {
    margin-bottom: 25px;
    font-weight: bold;
}

.ltp-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ltp-container>div>.img {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}

.ltp-container>div {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ltp-container>div>.content>h3 {
    font-size: 17px;
}

.ltp-container>div>.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}