* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
 font-family: sans-serif;
}
:root {
    --background:#272626;
    --foreground:#ff9100;
    --accent:#dededed1;
}
button {
    border: none;
}
h1 {
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
}
h2 {
    margin: 0;
    font-weight: bolder;
}
p {
    font-size: 14px;
}
header {
    background-color:var(--background);
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 130px;
}
header > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header > ul > li {
    list-style-type: none;
    color: var(--accent);
    padding: 10px 0;
    font-weight: bold;
}