@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --blue:#1c4ef0;
    --blue-2:#125fc4;
    --font-roboto:"DM Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
    font-size: 15px;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    color: white;
}
section {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
}
form {
    width: 100%;
}
input {
    display: block;
    background-color: rgb(27, 30, 39);
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    position: relative;
}
input::placeholder {
    font-size: 13px;
    letter-spacing: 0.2px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border:none;
    background-color: var(--blue);
}
.line {
    width: 100px;
    border: 0.5px solid gray;
}
.or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.line {
    width: 100px;
    height: 1px;
    background-color: gray;
}
.facebook-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:var(--blue-2);
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.facebook-button > i {
    font-size: 23px;
} 
.forgot-password {
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.forgot-password:hover {
    text-decoration: underline;
}
.highlight-signup {
    color: var(--blue-2);
    font-weight: bold;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.nav > a {
    color: gray;
    font-size: 13px;
}
.nav > a:hover {
    color: gray;
    font-size: 13px;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
.copyright {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
     color: gray;
    font-size: 13px;
}