* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background:black;
}

.container {
  display: flex;
  gap: 30px;
}

.card {
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  transition: transform 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translate(100px, -50px) rotate(40deg);
  z-index: 10;
}

.card img {
  width: 300px;
  height: 40%;
  object-fit: cover;
  border-radius: 8px;
}

.card h2 {
  font-weight: bold;
  margin: 16px 0 8px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card button {
  padding: 10px 20px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
