body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
button {
    border:none;
    cursor: pointer;
}
.calculator {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 300px;
    height: 400px;
    margin: 100px;
    background-color: black;
    border-radius:20px;
}
#exp {
    width: 100%;
    height: 60px;
    font-size: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.pad {
    width: 100%;
    height: auto;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}
.num , .opr {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.eval {
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    grid-column: 1/ span 4;
}
.eval:active {
    scale:1.1;
    transition: all 0.20s ease-in-out;
}