@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;;
    box-sizing: border-box;
}
body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
table {
    color: white;
    text-align: center;
    border-collapse: collapse;
}
th {
    padding: 16px 20px;
    text-transform: uppercase;
}
td {
    padding: 15px 20px;
    border: 1px solid white;
    font-size: 13px;
}
thead > tr > th:nth-child(1) {
    background-color: white;
    color: black;
}
thead > tr > th:nth-child(2) {
    background-color: orange;
}
thead > tr > th:nth-child(3) {
    background-color: red;
}
thead > tr > th:nth-child(4) {
    background-color: skyblue;
}

.price-1 , .price-2 , .price-3 {
    font-weight:bolder;
    font-size: 20px;
}
.price-1 {
    color: orange;
}
.price-2 {
    color: red;
}
.price-3 {
    color: skyblue;
}
i {
    font-weight: bolder;
    color: green;
}
